{% extends "_layout.twig" %}

{% block title %}Home{% endblock %}

	{% block content %}
	<h1>The ROBLOX Project</h1>
    <p>
        Dear User:</p>
    <p>
        The ROBLOX Project is a big experiment at the intersection of gaming, authoring,
        robots, inventing, and FUN! We've built ROBLOX primarily because we think it is
        cool. We welcome your insight and feedback - please contact us directly or try out
        the forum. Thanks from the ROBLOX team!
        </p><p>
        </p>
        <p>
            ROBLOX is free.</p>
        <p>
            Please tell your friends about ROBLOX.</p>
        <p>
            Please contact us via email at <a href="https://web.archive.org/web/20060617220845/mailto:info@roblox.com">info@roblox.com</a>.</p>
	{% endblock %}
